html {
  font-family: 'Montserrat', sans-serif;
  color: #234148;
}

body {
  margin: 0;
}

header {
  background-color: #234148;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #00A69B;
}

.u {
  color: #DBA239;
}

.img-flex {
  display: block;
  width: 130%;
}


footer {
  background-color: #234148;
  color: #FFF;
}

.link-box:hover {
  color: #DBA239;
}

.btn {

}

.link-box {
  color: #FFFFFF;
}

label {
  color: #234148;
}


@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .list-group-inline {
    text-align: right;
  }

}
