html {
  font-family: 'Montserrat', sans-serif;
  color: #234148;
  margin: 0;
}

body {
  margin: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.nav-home {
  background-color: #234148;
}

.nav-tour {
  background-color: #234148;
}

.nav-join {
  background-color: #234148;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #00a69b;
}

.u {
  color: #0080A3;
}

.ban-xsmall {
  display: block;
}

.ban-small {
  display: none;
}

.ban-med {
  display: none;
}

.ban-large {
  display: none;
}

.banner-img .ban-xsmall {
  overflow: hidden;
  height: 70vh;
  width: 100%;
}

.table-wrapper table {
  min-width: 45em;
}

footer {
  background-color: #234148;
  color: #FFF;
}

.nav-lb {
  border: 2px solid #234148;
}

.nav-lb:hover {
  color: #dba239;
  border: 2px solid #dba239;
}

.link-box {
  color: #ffffff;
}

label {
  color: #234148;
}

@media only screen and (min-width: 25em) {

  .ban-xsmall {
    display: none;
  }

  .ban-small {
    display: block;
  }

  .ban-med {
    display: none;
  }

  .ban-large {
    display: none;
  }

  .banner-img .ban-small {
    overflow: hidden;
    height: 65vh;
    width: 100%;
  }

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav-links {
    text-align: right;
  }

  .pa {
    text-align: left;
  }

  .pa-list {
    text-align: left;
  }

  .et {
    text-align: right;
  }

  .et-list {
    text-align: right;
  }

  .social {
    text-align: right;
  }

  .ban-xsmall {
    display: none;
  }

  .ban-small {
    display: none;
  }

  .ban-med {
    display: block;
  }

  .ban-large {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .ban-xsmall {
    display: none;
  }

  .ban-small {
    display: none;
  }

  .ban-med {
    display: none;
  }

  .ban-large {
    display: block;
  }

  .banner-img .ban-large {
    overflow: hidden;
    height: 50vh;
    width: 100%;
  }

}
