html {
  font-family: 'Montserrat', sans-serif;
  color: #234148;
  margin: 0'
}

body {
  margin: 0;
}

header {
  background-color: #234148;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #00A69B;
}

.u {
  color: #DBA239;
}

.banner-img {
  overflow: hidden;
  height: 70vh;
  width: 100%;
}

footer {
  background-color: #234148;
  color: #FFF;
}

.nav-lb:hover {
  color: #DBA239;
}

.btn {

}

.link-box {
  color: #FFFFFF;
}

label {
  color: #234148;
}


@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav-links {
    text-align: right;
  }

  .pa {
    text-align: left;
  }

  .pa-list {
    text-align: left;
  }

  .et {
    text-align: right;
  }

  .et-list {
    text-align: right;
  }

}
